.site-header {
	background-image: url(../img/header_lg.jpg);
}

.social-links ul a {
	position: relative;
}
.social-links ul a:before, .social-links ul a:hover:before {
	background-color: transparent;
	background: -webkit-linear-gradient(transparent, transparent),
		url(../img/header_lg.jpg) no-repeat;
	background: -o-linear-gradient(transparent, transparent);
	background-position: left center;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	z-index: 1;
}

.social-links ul a:after {
	background-color: rgba(255, 255, 255, 0.75);
	border-radius: 50%;
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	padding: 9px;
	width: 34px;
	height: 34px;
	margin: 3px 7px;
	-webkit-transition: 0.3s background-color;
	-moz-transition: 0.3s background-color;
	transition: 0.3s background-color;
}

.social-links ul a:hover:after {
	background-color: white;
	-webkit-transition: 0.3s background-color;
	-moz-transition: 0.3s background-color;
	transition: 0.3s background-color;
}

.site-title a, .site-description, .site-title a:hover {
	color: #ffffff;
}

body.custom-background {
	background-color: #ddd3d3;
}